/*Comando Universar*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: arial;
}
/*HEADER*/
 header {
    width: 100%;
}
/*menu gmail, imágenes e inicio de sesion*/
.menunav, .menunav-is {
    width: 34%;
    list-style: none;
    float: right;
    margin-top: 10px;
}
/*Menu gmail e imagenes*/
.menunav-ul {
    margin-left: 274px;
}
.menunav-ul li {
    display: inline-block;
    font-size: 1.5rem;
    width: 30%;
}
.menunav-ul--li a {
    padding: 10px 20px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-align: center;
}
.menunav-ul--li a:hover {
    text-decoration: underline;
}
/*Inicio Sesion*/  
.menunav-is {
    width: 10%;
    margin: 10px 7px 7px 9px;
    border-radius: 8px;
    background:#2b7de9;
    color: #fff;
}
.menunavis-ul--li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px 13px 10px 14px; 
}
.menunavis-ul li a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.menunavis-ul li a:hover {
    color: #fff;
}
/*Estilo de caja hamburguesa*/
.me1 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 10px 0;
    padding: 5px;
}
.me1:hover {
    background: rgb(159, 203, 236, .5);
}
.me1 a {
    text-decoration: none;
    color: #04385E;
    font-size: 1.1rem;
}
.me1 a:hover {
    color: #04385E;
}
.me1 a:link {
    color: #04385E;
}
.me1 a:active {
    color: #04385E;
}
.me1-img {
    width: 50px;
    height: auto;
    display: block;
    padding: 5px;
}
/*Menu interior*/
.menuapps {
    display: inline-block;
    background: #fff;
    width: 2%;
    float: right;
    margin: 0 12px 0 -4px;
}
.menuapps-img {
    float: right;
    padding: 16px 0px 10px 0;
}
/*Menu hamburguesa*/
    /*Abrir y cerrar */
.menu-enlaces {
    display: none;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px rgb(126, 123, 123);
}
#menu:checked ~ .menu-enlaces {
    display: block;
    position: fixed;
    width: 17%;
    height: 45%;
    margin: 57px 16px 10px -123px;
    padding: 12px 14px 10px 17px;
}
#menu {
    display: none;
}
/*MAIN*/
.lgoogle {
    display: block;
    margin: 30px 45px;
    position: absolute;
    top: 140px;
    right: 480px;
}
.busqueda {
    position: fixed;
    top: 260px;
    right: 400px;
}
#buscar {
    margin: 10px;
    width: 500px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 30px;
}
.cds {

}
.cdsb {
    width: 160px;
    height: 40px;
    margin: 10px 25px 10px 60px;
    border: 0 solid rgb(245, 249, 250, .5);
    font-size: 15px;
}
/*FOOTER*/
footer {
    position: relative;
    top: 580px;
    font-size: 15px;
}
.linea1 {
    margin: 10px 0 -1px 0;
    padding: 10px 0px 10px 10px;
    border: 1px solid #B5C0C2;
    background: #EFF5F7; 
}
.linea1 a {
    text-decoration: none;
    color: #8E9394; 
}
.linea1 a:hover {
    color: #8E9394;
}
.linea2 {
    padding: 10px 0px 10px 10px;
    border: 1px solid #B5C0C2;
    background: #EFF5F7; 
    width: 100%;
}
.lineab, .lineac {
    width: 30%;
    display: inline;
    margin: 0 -217px 10px -19px;
}
.lineac {
    float: right;
}
.lineab a, .lineac a {
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    color: #8E9394 ;
}
